﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>EC VMS</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
    <app-root></app-root>
    <script src="runtime-es2015.7ed2a95af73a53278dae.js" type="module"></script>
    <script src="runtime-es5.7ed2a95af73a53278dae.js" nomodule defer></script>
    <script src="polyfills-es5.ff697fd37f33d80506ad.js" nomodule defer></script>
    <script src="polyfills-es2015.aa5df3f44f30faa7b858.js" type="module"></script>
    <script src="scripts.1a55b8a3e7d9321a8ee2.js" defer></script>
    <script src="main-es2015.ded539f513069b13ac4c.js" type="module"></script>
    <script src="main-es5.ded539f513069b13ac4c.js" nomodule defer></script>
</body>

</html>